@model MyShop.Models.Dvdcopy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dvdcopy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePurchased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePurchased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dvd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dvd.DvDname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CopyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
