@model MyShop.Models.Dvdtitle

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Edit DvD</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DvdId" />

            <div class="form-group">
                <label asp-for="DvDname" class="control-label">DvD Title</label>
                <input asp-for="DvDname" class="form-control" />
                <span asp-validation-for="DvDname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProduceId" class="control-label">Producer</label>
                <select asp-for="ProduceId" class="form-control" asp-items="ViewBag.ProduceId"></select>
                <span asp-validation-for="ProduceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudioId" class="control-label">Studio</label>
                <select asp-for="StudioId" class="form-control" asp-items="ViewBag.StudioId"></select>
                <span asp-validation-for="StudioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReleased" class="control-label">Date Release</label>
                <input asp-for="DateReleased" class="form-control" />
                <span asp-validation-for="DateReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PenaltyRate" class="control-label">Penalty Rate</label>
                <input asp-for="PenaltyRate" class="form-control" />
                <span asp-validation-for="PenaltyRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
