@model MyShop.DTOs.ActorDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Actor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Actor.ActorName" class="control-label"></label>
                <input asp-for="Actor.ActorName" class="form-control" />
                <span asp-validation-for="Actor.ActorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor.ActorLastName" class="control-label"></label>
                <input asp-for="Actor.ActorLastName" class="form-control" />
                <span asp-validation-for="Actor.ActorLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor.ProfileUrl" class="control-label"></label>
                <input asp-for="Actor.ProfileUrl" class="form-control" />
                <span asp-validation-for="Actor.ProfileUrl" class="text-danger"></span>
            </div>
            <div class="form-group">

                @if (!ViewBag.close)
                {
                    
                    <input asp-for="IsClose" type="checkbox" checked class="form-control" hidden/>
                    
                    <input type="submit" id="create-actor" value="Create" class="btn btn-primary" />
                }
                else
                {
                    <input asp-for="IsClose" type="checkbox" checked class="form-control" hidden/>
                    <input type="submit" id="create-close-actor" value="Create" class="btn btn-primary" />

                }


                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
