
#greeting {
    font-family: 'Artifika', serif;
}

#greeting-message {
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;
    color:gray;
    margin:20px;
}

#card-container {
    margin-top: 8em;
}

#catalog-button {
    background-color: #7e57c2;
    border-color: #7e57c2;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2em;
}

#loan-button {
    background-color: #123054;
    border-color: #123054;
    color: #fe9e6c;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2em;
}

#member-button {
    background-color: #62c1c5;
    border-color: #62c1c5;
    color: #fbd14c;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2em;
}

.btn{
    transition: transform linear 0.15s;
}

    .btn:hover {
        transform:scale(1.07);
    }

.card-text {
    font-family: 'Varela Round', sans-serif;
}

#nav-icon {
    margin: 0 0.8em;
}