@model MyShop.Models.Loan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LoanId" />
            <div class="form-group">
                <label asp-for="CopyId" class="control-label"></label>
                <select asp-for="CopyId" class="form-control" asp-items="ViewBag.CopyId"></select>
                <span asp-validation-for="CopyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOut" class="control-label"></label>
                <input asp-for="DateOut" class="form-control" />
                <span asp-validation-for="DateOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDue" class="control-label"></label>
                <input asp-for="DateDue" class="form-control" />
                <span asp-validation-for="DateDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnedDate" class="control-label"></label>
                <input asp-for="ReturnedDate" class="form-control" />
                <span asp-validation-for="ReturnedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
